@import './shared/fonts';
// pages
@import './index';

// components
@import './components/header';
@import './components/aside';
@import './components/list';
@import './components/no_item';

html, body {
  font-family: 'Montserrat', 'Helvetica'!important;
  height: 100%;
  width: 100%;
  background:rgb(238, 240, 248)
}

.absolute {
  position: absolute;
}
